* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(180deg, #2c3e50, #000000);
    overflow: hidden;
}

/* Tambahan CSS khusus Admin Panel agar bisa discroll */
#adminPanel {
    display: none; 
    background: rgba(32, 44, 51, 0.98); 
    padding: 20px; 
    padding-bottom: 50px; /* Tambah ruang di bawah biar item terakhir gak nempel */
    border-radius: 20px; 
    border: 1px solid #00d2ff;
    margin-top: 20px;
    margin-bottom: 20px;

    /* PAGAR SCROLL LEBIH PENDEK */
    max-height: 55vh; /* Diturunin biar gak tabrakan sama Nav Bottom */
    overflow-y: auto; 
    -webkit-overflow-scrolling: touch; /* Halus buat Vivo Y16 */
}

/* Container untuk efek hujan */
.background-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.drop {
    position: absolute;
    background: rgba(255, 255, 255, 0.3);
    width: 2px;
    height: 15px;
    top: -20px;
    animation: fall linear infinite;
}

@keyframes fall {
    to { transform: translateY(100vh); }
}

/* Kotak Login (Glassmorphism) */
.login-box {
    position: relative;
    z-index: 10;
    width: 350px;
    /* PAGAR LAYAR UNTUK HP */
    max-width: 90vw; 
    padding: 40px;
    background: rgba(255, 255, 255, 0.09);
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(250, 0, 120, 1.5);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
}

.login-box h2 {
    color: #fff;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.input-group {
    position: relative;
    margin-bottom: 30px;
}

.input-group input {
    width: 100%;
    padding: 10px 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    color: #fff;
    font-size: 16px;
}

.input-group label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    color: #ccc;
    pointer-events: none;
    transition: 0.3s;
}

/* Animasi label saat input fokus */
.input-group input:focus ~ label,
.input-group input:valid ~ label {
    top: -20px;
    font-size: 12px;
    color: #3498db;
}

.sign-in-btn {
    width: 100%;
    padding: 10px;
    border: 1px solid #3498db;
    background: transparent;
    color: #3498db;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
}

.sign-in-btn:hover {
    background: #3498db;
    color: #fff;
}

.footer-text {
    margin-top: 20px;
    color: #fff;
    font-size: 13px;
}

.footer-text a {
    color: #3498db;
    text-decoration: none;
}
